<h1>General Shopping List</h1>

<h2>Missing Food Items</h2>
<ul>
  <% @missing_food_items.each do |food| %>
    <li><%= food.name %> - <%= number_to_currency(food.price) %></li>
  <% end %>
</ul>

<p>Total Food Items: <%= @missing_food_items.length %></p>
<p>Total Price: <%= number_to_currency(@total_price) %></p>