<nav class="navbar has-background-info mb-2 p-3" role="navigation" aria-label="main navigation">
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <h1 class="has-text-white"><%= current_user.email %></h1>

  <div class="navbar-end">
    <%= link_to "Sign Out", destroy_user_session_path(@post), method: :delete, data: { "turbo-method": :delete }, class: "button is-small is-dark" %>
  </div>
</nav>